### Name

In [ ]:
x = int(input(" write a number X : "))
y = int(input(" write a number Y : "))
z = int (x + y)
print("Value of Z is", z)
#print (x+y)

In [ ]:
my_name= "Karan"
print(my_name)
my_name

In [ ]:
age = 30
#print (age)
age

In [ ]:
age = int(input ("enter your age"))
julia_age = 32
age_diff = age - julia_age
#print (age_diff)
if age_diff > 0 :
    print (f"you are {age_diff} years older than Julia")
elif age_diff == 0:
    print ("your age same as Julia")   
else:
    print (f"you are {-age_diff} years younger than Julia")

In [ ]:
# List always should be in squre bracket []. string in "" and numbers are ok without inverted comma
#Class = ["Leon", "Abdul", "Karan", "Killian", "Karan"]
Class = [8,6,3,4,3]
# apend = insert
#Class.insert (2 , "Victor")
print (Class [0])  # first value = for that position must be put in the squre bracket [0]
print (Class[-1])  # last value = for that position must be put in the squre bracket [-1] backside counting
print (Class)

# to convert list into set we use set () function. List are in [] and set are in {} but for conversion no {}requird
# set is used to avoid Duplicate values in List
Set_Class = set(Class)
print (Set_Class)

In [ ]:
# Class.remove () = Class.pop () = del Class ()
# remove should be used with value. direct need to put value to be removed
# pop without index delete last data from list
# del without index delete complete list
Class.remove ("Victor")
print (Class)

Class.pop (-1)
print (Class)

In [ ]:
#Sort = used to arrange list alphabitically
Class.sort ()
print (Class)
#type of list
print(type(Class))
#length of list
print(len (Class))

In [ ]:
# Dictionary = always in curly bracket {} contains {"key" : "value"}
age_list = {"Leon":25, "Enzo":22 , "Abdul" : 32, "Karan" : 32, "Sergi" : 34} 
# differnt 4 methods to display
print (age_list)  
#age_list
#display (age_list)      
#print(f"{age_list}")

In [ ]:
print (age_list.keys()) #to show keys

age_list.values() #to show Values

In [ ]:
# to convert dictionaray to list we use List (dict.values())
age_List2 = list (age_list.values())
print (age_List2)
#now sort the list
age_List2.sort()
print (age_List2)
#sort without index automatically asending. for decending sorting need to write index (reverse = True)
age_List2.sort(reverse=True)
age_List2

In [ ]:
# create List and show min-max values from list
List_age = [25, 22, 30, 32, 42]
List_age
#smallest number use min(list)
print ('smallest number of list is', min(List_age))
#highest number from list max(list)
max(List_age)

In [ ]:
# for Loop used to excucute statements

# create empty list
List_entry = []
#no of element in the list
num = int(input('enter no of elements in the list'))
#create loop to add value till num numbers
for i in range (1, num + 1):
    entry = int(input('eneter the number'))
    List_entry.append(entry)
print (f'complete list is {List_entry}')
print (f'smallest number is {min(List_entry)}')
print (f'highest number of list is {max(List_entry)}')

In [ ]:
Name1 = ["Leon", "Karan", "Abdul", "Enzo", "Killian"]
display (Name1)
Name1.sort()  # to sort
Name1
for names in Name1:
    print (names)

In [ ]:
Age1 = [18, 29, 39, 40, 88, 27]
Even = []
Odd = []
for age in Age1:
    print (age)
    if age % 2 == 0:
        Even.append(age)
    else:
        Odd.append (age)   
print (Even)
print (Odd)
print (min(Age1))
print (max (Age1))

In [ ]:
Birth_Year = [1992, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2001]
Currentage = []
RunYear = int(input("add current year"))
for year in Birth_Year:
    print (year)
    #Currentage = RunYear - Birth_Year (year) in this case of for loop year = Birth_Year
    Currentage.append(RunYear - year)
print ("List of current age are", Currentage )

In [ ]:
Customer_List = [{"name": "Bob", "age": 1999},{"name": "Jack", "age": 1995},{"name": "Lisa", "age": 2005},{"name": "Maria", "age": 2010},{"name": "Ben", "age": 2007},{"name": "Emma", "age": 2006},{"name": "Oscar", "age": 1994},{"name": "Amy", "age": 1996},{"name": "Paul", "age": 1979},{"name": "Etta", "age": 2008}]
for cust in Customer_List:
    print (cust)
for cust in Customer_List:
    print ("customer Name is", cust["name"] , "and", "customer age is", 2024 - cust["age"])
    #in above line we call "value" from repected "key" with format = ["key"] --> it gives respective value of this key

In [ ]:
for cust in Customer_List:
    customer_age = 2024 - cust["age"]
    print (cust["name"], customer_age)

In [ ]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
i = 0 
n = len(ages)

for i in range (n):
    for j in range (0, n-i-1):
        if ages[j] < ages [j+1]:
            temp = ages[j]
            ages[j] = ages [j+1]
            ages [j+1] = temp
i+=1

print (ages)

min_number = ages[-1]
max_number = ages[0]

ages.remove(min_number)
print(ages)

In [ ]:
Birth_Year = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2001]
for year in Birth_Year:
    print (2024- year)

In [ ]:
brith_year = [1833,1992,2001]
age = []
for year in brith_year:
    age.append (2024 - year)
print ("age list is", age)

In [82]:
Berlin = [15,13,16,18,19,10,12]
Munich = [7,13,15,20,19,18,10,16]
common = []
for x in Berlin:
    for y in Munich:
        if x == y:
            common.append(x)
        elif x != y :
            y=y+1             
print (common)

[15, 13, 16, 18, 19, 10]

In [80]:
ages = [25,24,12,9,12,13,25,23,40,11]
i = len (ages)
age_sort = []
for x in range (0, i):
    for y in range (x+1, i):
        if ages[x] >= ages[y]:
            ages[x], ages[y] = ages[y] , ages[x] # To swap the value between each other if condition true
            #for above line we do have below 3 lines optional
            #temp = ages [x]
            #ages [x] = ages[y]
            #ages[y] = temp
            #print("This is iteration",x," of ages;",ages) ## Vimp to check how iteration working
print ("sorted list", ages)

sorted list [9, 11, 12, 12, 13, 23, 24, 25, 25, 40]

In [77]:
AGE = [15,13,16,18,19,15,10]
AGE1 = set(AGE)
print (AGE1)

{10, 13, 15, 16, 18, 19}

In [153]:
AGE = [15,13,16,18,19,15,10]
z = len(AGE)
#print (z)
for p in range (0 , z+1):
    print (AGE [p])
    for q in range (p+1, z):
        #print (AGE[p])
        if AGE[p] != AGE [q]:
            AGE [q] = AGE [q+1]
            print (AGE[q])
        elif AGE[p] == AGE [q]:
           # print (p)
            AGE.pop(p)  
print (AGE)

15
16
18
19
15

IndexError: list index out of range

In [170]:
AGE = [15,13,16,15,19,10,15]
z = len(AGE)
print (z)
for p in range (0 , z+1):
    print ("P is", AGE [p])
    for q in range (p+1, z+1):
        print ("q is", AGE[q])
        if AGE[p] == AGE [q]:
            print ("result" , AGE [q])
            AGE.remove(AGE [q])
            print (AGE)
            break
        elif AGE[p] != AGE [q]:
            #AGE[q] == AGE [q+1]
            q = q + 1
            print (AGE [q])
    print ("without duplicate", AGE)

7
P is 15
q is 13
16
q is 16
15
q is 15
result 15
[13, 16, 15, 19, 10, 15]
without duplicate [13, 16, 15, 19, 10, 15]
P is 16
q is 15
19
q is 19
10
q is 10
15
q is 15

IndexError: list index out of range

In [79]:
AGE = [15,13,16,18,19,15,10]
AGE2 = []
for A in AGE:
    if A not in AGE2:
        AGE2.append(A)
print (AGE2)

[15, 13, 16, 18, 19, 10]

In [21]:
string = input ('enter string with two words')
def first_letter (string):
    seprate = string.split ()
    x= seprate[0][0] ## syntax is String [word position] [letter position] == eg. 2nd word 3rd letter == script [2][3]
    y= seprate [1] [0]
    print (x , y)
    if x == y:
        print ('first letter of two words are same')
    else:
        print ('first letter of two words are not same')

In [23]:
first_letter ('ohini Maran')

o M
first letter of two words are not same

In [17]:
def get_length (word):
    print ("length of word is", len(word))
    
get_length('Hello')

In [26]:
def check_even (num):
    if num %2 == 0:
        return 'yes'
    else:
        return 'False'
    
check_even (7)

'False'

In [38]:
def age_check (list):
    num1 = int (input ('put age need to be checked'))
    for N in list:
        if N == num1:
            print ('number is present in list')
    else:
        return 'false'

In [33]:
x =[10, 11, 12, 13]

In [45]:
age_check ([11, 15, 19])

'false'